/* --- MOBILE FIRST DESIGN --- */
/* --- GLOBAL STYLING */
:root {
  --base: #1d272d;
  --light: #E7E5DF;
  --medium: #b3afa9;
  --dark: #183547;
  --green: #44BBA4;
  --yellow: #E7BB41;
  --border-radius: 7px;
}

#app {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  color: var(--light);
  background-color: var(--base);
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 100px;
  border: 0.5px solid var(--medium);
}

.outlined-button {
  width: 40%;
  color: var(--yellow);
  background-color: unset;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--yellow);
  border-radius: var(--border-radius);
  padding: 0.5rem 2rem;
}

.outlined-button:hover {
  box-shadow: 0px 0px 10px var(--yellow);
  transition: all 0.1s ease-in-out;
}


/* --- Header component --- */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  transition: all 0.5s linear;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 0.5rem 0;
}

#logo h1:hover {
  text-shadow: 0px 0px 10px var(--yellow);
  transition: all 0.1s ease-in-out;
}

#logo h1 span {
  color: var(--yellow);
}

#header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-nav-ul {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

#header-nav-ul li {
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#header-nav-ul li .link:hover {
  color: var(--yellow);
}

/* --- Main component --- */
.main-content-section {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s linear;
  margin: 0 auto;
  padding: 1rem;
  transition: all 0.5s linear;
}

.main-content-section-header {
  font-weight: 700;
  margin-bottom: 1rem;
}

.main-content-section-body {
  display: flex;
  flex-direction: column;
}

.main-content-section-body p {
  color: var(--medium);
}

/* --- AboutMe component --- */
#about-me-section {
  max-width: 290px;
  margin: 0 auto;
}

#about-me-section .main-content-section-body-row:first-of-type {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s linear;
}

#intro-img {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

#intro-img img {
  width: 100px;
  margin: 0 auto;
}

#intro-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

#intro-content p {
  width: 100%;
}

#intro-greeting {
  color: var(--green);
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

#intro-name {
  color: var(--light);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.intro-position {
  font-size: 1.3rem;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

.tech-ul {
  font-size: 0.8rem;
  list-style: circle;
  padding: 0 0 0 1rem;
}

.tech-ul li {
  margin: 5px 0px;
}

.tech-ul span {
  color: var(--green);
}

.about-me-link {
  color: var(--yellow);
}


/* --- Projects component --- */
.project-card {
  width: 100%;
  height: fit-content;
  background-color: var(--dark);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem;
  transition: all 0.5s linear;
}

.project-card:hover {
  box-shadow: 0px 0px 10px var(--green);
}

.project-card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project-title {
  color: var(--yellow);
  font-weight: 700;
}

.project-link {
  color: var(--green);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link .link:hover {
  text-decoration: underline;
}

.project-link span {
  margin: 0 0.5rem;
}

.project-card-body {
  width: 100%;
}

.project-tech-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  padding: 0;
  gap: 0.5rem;
}

.project-tech-list li {
  color: var(--base);
  background-color: var(--green);
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0.5rem;
}

.project-img {
  width: 100%;
}

.project-img img {
  width: 100%;
}

/* --- Contact component --- */
#contact-section .main-content-section-body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

#email-form {
  max-width: 290px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  font-size: 0.8rem !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.8rem !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.8rem !important;
}

.error-message {
  font-size: 0.8rem;
  color: var(--green);
}

#form-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --- Footer component --- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-row {
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
}

footer i {
  font-size: 1.5rem;
}

footer i:hover {
  color: var(--yellow);
}

.footer-row:last-of-type {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--medium);
  padding-bottom: 1rem;
}

/* --- ScrollButton component --- */
#scroll-btn {
  font-size: 2rem;
  color: var(--yellow);
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}

#scroll-btn:hover {
  color: var(--green);

  cursor: pointer;
}

/* For screens larger than 768px*/
@media screen and (min-width: 768px) {
  header {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }

  #logo {
    width: fit-content;
  }

  #header-nav {
    width: fit-content;
  }

  #header-nav-ul {
    width: 100%;
    gap: 1.5rem;
  }

  #header-nav-ul li {
    font-size: 1rem;
  }

  .main-content-section {
    width: 90%;
  }

  #about-me-section {
    max-width: 90%;
  }

  #about-me-section .main-content-section-body-row:first-of-type {
    flex-direction: row;
  }

  #intro-img {
    width: fit-content;
    margin-right: 1rem;
  }

  .project-card-header {
    flex-direction: row;
    justify-content: space-between;
  }

}

/* For screens larger than 992px */
@media screen and (min-width: 992px) {
  header {
    width: 700px;
  }

  .main-content-section {
    width: 700px;
  }
}